<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933582436861-7c3bb49k9q1l14udcm9a5e08vg8rdbrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933582436861-7c3bb49k9q1l14udcm9a5e08vg8rdbrm</string>
	<key>API_KEY</key>
	<string>AIzaSyCu-Bs3ZOa8XSRO__35Hgif--hkVzNku5A</string>
	<key>GCM_SENDER_ID</key>
	<string>933582436861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jack-Mazza.HealthApp</string>
	<key>PROJECT_ID</key>
	<string>senior-project-auth-31663</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-auth-31663.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933582436861:ios:9bdce5fe2d9fb112934194</string>
	<key>DATABASE_URL</key>
	<string>https://senior-project-auth-31663.firebaseio.com</string>
</dict>
</plist>